{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Kick Corner{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock meta %}

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/global.css' %}"/>

  <style>
    img { display:block; max-width:100%; height:auto; }
  </style>

  {% block extra_css %}{% endblock extra_css %}
</head>
<body class="bg-gray-50 text-gray-900">
  {% block content %}{% endblock content %}
</body>
</html>