{% extends "base.html" %}
{% block title %}Kick Corner – Products{% endblock title %}
{% include 'navbar.html' %}
{% block extra_css %}
<style>
  .actions { display:flex; gap:8px; margin:12px 0 16px; }
  .btn { display:inline-block; padding:8px 12px; border-radius:8px; border:1px solid #e5e7eb; text-decoration:none; font-weight:600; }
  .btn-primary { background:#111827; color:#fff; border-color:#111827; }
  .btn-outline { background:#fff; color:#111827; }
  .btn:hover { filter:brightness(0.96); }
</style>
{% endblock extra_css %}

{% block content %}
  <header>
    <h1>{{ shop }}</h1>
    <p>{{ npm }} — {{ name }} ({{ class }})</p>
  </header>

  <main>
    <h2>Products</h2>

    {# tombol add product #}
    <div class="actions">
        <a href="{% url 'main:add_product' %}" class="btn btn-primary">+ Add Product</a>
        <a href="{% url 'main:logout' %}" class="btn btn-primary">Logout</a>
    </div>

    <h5>Username: {{ user.username }}</h5>
    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <ul>

      <div class="actions">
        <a href="?filter=all" class="btn btn-primary">All Product</a>
        <a href="?filter=my" class="btn btn-primary">My Product</a>
      </div>

      {% for p in products %}
        <li>
          <article>
            {% if p.thumbnail %}
              <img src="{{ p.thumbnail }}" alt="{{ p.name }} thumbnail" loading="lazy">
            {% endif %}

            <h3><a href="{% url 'main:show_product' p.id %}">{{ p.name }}</a></h3>

            <p class="meta">
              {{ p.get_category_display }}
              {% if p.brand %} · {{ p.brand }}{% endif %}
              {% if p.is_featured %} · Featured{% endif %}
            </p>

            <p class="price">Rp {{ p.price }}</p>

            {# tombol view detail #}
            <div class="actions">
                <a href="{% url 'main:show_product' p.id %}" class="btn btn-outline">View details</a>
                {% if user.is_authenticated and p.user == user %}
                <a href="{% url 'main:edit_product' p.pk %}" class="btn btn-outline">Edit</a>
                <a href="{% url 'main:delete_product' p.pk %}" class="btn btn-outline">Delete</a>
                {% endif %}
            </div>
          </article>
        </li>
      {% empty %}
        <li><p>There is no product yet.</p></li>
      {% endfor %}
    </ul>
  </main>

  <footer>
    <small>© {{ name }}</small>
  </footer>
{% endblock content %}